@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
body{
    background: linear-gradient(to top, rgba(255,0,0,0), rgb(255, 194, 243));
    background-repeat: no-repeat;
}
.logo{
    width: 6em;
    height: 4em;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.hdr{
    width: 100%;
    height: 75px;
}
.hdr h3{
    margin-top: 15px;
    margin-left: 15px;
    color: salmon;
    text-shadow: 1px 0.8px;
}
.hdr p{
    float: right;
    color: #222;
}
.profile{
    margin-top: 10px;
    width: 15px;
    border: none;
    background: transparent;
    float: right;
    color: #222;
}
option{
    color: #222;
    font-size: medium;
}
.dir{
    display: inline-flex;
    cursor: pointer;
}
.home{
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 70px;
    color: #222;
    padding: 0;
    transition: 0.5s;
}
.home:hover{
    color: azure;
    width: 120px;
    height: 90px;
}
.home i{
    position: absolute;
    left:50%;
    top: 10%;
    transform: translate(-50%,-10%);
    font-size: 30px;
}
.home h3{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-10%);
    font-size: 20px;
}
.selected{
    color: red;
}
@media only screen and (max-width: 1050px) {
    .logo{
        display: none;
    }
}
.link{
    width: 25%;
    margin-left: 10px;
    display: unset;
}
.link i{
    color: red;
    margin-right: 5px;
}
.link .tab{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.link li{
    margin-top: 2px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}
.link li span{
    color: red;
}
.link .choose{
    background-color: gainsboro;
}
.link li:hover{
    background-color: gainsboro;
}
@media only screen and (max-width: 1050px) {
    .main{
        flex-direction: column;
    }
    .link .tab{
        display: none;
    }
}
.main{
    display: flex;
}
.container{
    margin-left: 0;
    border: 1px solid gray;
    width: 100%;
    height: 100%;
}
.container h3, p, img{
    padding: 10px;
}
.container img{
    opacity: 0.8;
}
.container img:hover{
    opacity: 1;
}
.container div{
    display: flex;
    position: relative;
    border: 1px solid salmon;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
}
.container i{
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
}
.container div:last-child{
    width: 15%;
    height: 2em;
    border: none;
}
.container div:last-child a{
    width: 20%;
    padding: 5px 0;
    text-align: center;
    color: red; 
    border: 1px solid salmon;
    margin-right: 5px;
}
.container div:last-child a:hover{
    background: gainsboro;
    border-radius: 5px;
}
.footer{
    margin-top: 5px;
    width: 100%;
    height: 25vh;
    background: linear-gradient(to top, rgb(255, 194, 243), rgba(255,0,0,0));    
    display: flex;
}
.footer img{
    width: 50px;
    height: 50px;
}
.footer .contact{
    padding: 50px 0;
    margin-left: 30px;
    text-align: center;
    width: 33%;
}
.footer .copyright{
    margin-top: 150px;
    text-align: center;
    width: 33%;
}
.footer .linkto{
    margin-top: 50px;
    text-align: center;
    width: 33%;
}
.footer .linkto li, a{
    text-decoration: none;
    list-style-type: none;
}